body {
  background-color: #bdc3c7;
}

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: center;
  }
  .text-head {
    margin-top: -250px;
  }
  #head a {
    visibility: hidden;
  }
  #head h1 {
    font-size: 50px;
    text-align: center;
  }
  #head p {
    visibility: hidden;
  }
  .gambar-body {
    visibility: hidden;
  }
  #body h1 {
    text-align: center;
  }
  #musim .gambar-musim {
    visibility: hidden;
  }
  .logo-musim-1 {
    /* visibility: hidden; */
    width: 73%;
  }
}
@media screen and (min-width: 1200px) {
  #head .text-head {
    padding-left: 5%;
    margin-top: -175px;
  }
  #head a {
    padding: 20px;
    font-weight: bold;
    font-size: 35px;
    background-color: white;
    color: #1e1e1e;
  }
}

/* nav */
.navbar {
  background-color: #222831;
}
.navbar a {
  margin-left: 20px;
  color: white;
}
/* /nav */

/* head */
#head img {
  width: 100%;
}

#head .text-head h1 {
  font-family: Poppins;
  color: white;
}
#head .text-head p {
  font-size: 25px;
  font-family: Poppins;
  color: white;
}
/* /head */
/* body */
#body {
  font-family: Poppins;
  margin-left: 20px;
}
#body p {
  /* font-family: Poppins; */
  font-size: 25px;
}
/* /body */
/* musim */
#musim {
  font-family: poppins;
  margin-top: 20%;
}

#musim h1 {
  text-align: center;
  /* font-size: 50px; */
  font-weight: bold;
}
/* logo musim */
#musim .logo-musim-1 img {
  /* width: 100%; */
  margin-left: 47%;
}
#musim .logo-musim-2 img {
  /* width: 100%; */
  margin-left: 48%;
}
/* /logo musim */
#musim .img-header-musim img {
  margin-top: 10%;
  width: 100%;
}
#musim .text-musim p {
  font-size: 25px;
  margin-left: 20px;
}
#musim .gambar-musim img {
  margin-top: -900px;
}
#musim .card-musim h1 {
  text-align: center;
  /* font-size: 50px; */
  font-weight: bold;
  margin-top: 200px;
}
/* /musim */

footer {
  background-color: #222831;
  padding-bottom: 20px;
}
footer a {
  color: white;
  font-family: Mr Dafoe;
  font-size: 30px;
  text-decoration: none;
  margin-left: 20px;
}
footer p {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  /* text-align: center; */
  margin-left: 20px;
}
footer table {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  margin-left: 20px;
  /* text-align: center; */
}
.copyright p {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  text-align: center;
}
.copyright span {
  color: white;
  /* font-size: 20px; */
  font-family: Mr Dafoe;
}
